<footer class="main-footer">
    <div class="container">
        <div class="row">
		<div style="text-align:center">
			<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
			<span id="busuanzi_container_site_pv">总访问量<span id="busuanzi_value_site_pv"></span>次</span>
			<span class="post-meta-divider">|</span>
			<span id="busuanzi_container_site_uv">总访客<span id="busuanzi_value_site_uv"></span>人</span>
			<span class="post-meta-divider">|</span>
        </div>
		</div>
    </div>
</footer>

<a id="back-to-top" class="icon-btn hide">
    <i class="fa fa-chevron-up"></i>
</a>



